<#@ template language="C#" #>
		<#= _guid #>.Debug|x86.ActiveCfg = Debug|x86
		<#= _guid #>.Debug|x86.Build.0 = Debug|x86
		<#= _guid #>.Debug+Web|x86.ActiveCfg = Debug+Web|x86
		<#= _guid #>.Debug+Web|x86.Build.0 = Debug+Web|x86
		<#= _guid #>.Release|x86.ActiveCfg = Release|x86
		<#= _guid #>.Release|x86.Build.0 = Release|x86