<#@ template language="C#" #>
Project("{FAE04EC0-301F-11D3-BF4B-00C04F79EFBC}") = "<#= _name #>", "projects\\<#= _name #>\\<#= _name #>.csproj", "<#= _guid #>"
	ProjectSection(ProjectDependencies) = postProject
	EndProjectSection
EndProject