<#@ template language="C#" #>
using Fusee.Engine;
using Fusee.Math;

namespace FuseeGame.<#= _name #>
{
    public class <#= _name #>
    {
        
        public override void <#= _name #>()
        {
        }

    }
}